@contentstack:registry=https://npm.pkg.github.com/contentstack
//npm.pkg.github.com/:_authToken=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
always-auth=true

# Token for another GitHub org/user packages
@anotherorg:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
always-auth=true

# (Optional) strict engine requirement
engine-strict=true