@contentstack:registry=https://npm.pkg.github.com/contentstack
//npm.pkg.github.com/:_authToken=${VITE_VENUS}
always-auth=true

# Token for another GitHub org/user packages
@anotherorg:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${VITE_GITHUB}

# (Optional) strict engine requirement
engine-strict=true